.wishlist {
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    background-color: transparent;
    z-index: 20;
    padding: 10px;
  }
  
  .wishlistItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px 15px;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .wishlistItem:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  .type {
    font-size: 14px;
    font-weight: bold;
    flex-basis: 20%;
    text-align: left;
  }
  
  .title {
    font-size: 14px;
    flex-basis: 40%;
    text-align: left;
  }
  
  .price {
    font-size: 14px;
    flex-basis: 20%;
    text-align: center;
  }
  
  .actions {
    flex-basis: 20%;
    display: flex;
    justify-content: space-around;
  }
  
  .icon {
    cursor: pointer;
    font-size: 20px;
    color: #333;
    transition: color 0.2s ease;
  }
  
  .icon:hover {
    color: #007bff;
  }

  .emptyMessage{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    /* color: white;
    font-size: 2rem;
    text-align: center; */
  }
  