.heart {
  font-size: 25px;
  color: rgb(182, 173, 173);
  width: 35px;
  outline: none;
  margin-top: 7px;
  cursor: pointer;
  transition: 0.5s;
}

.heart:hover {
  color: rgb(255, 75, 75);
  transform: scale(1.5);
}

.heart-active {
  font-size: 25px;
  color: rgb(182, 173, 173);
  width: 35px;
  outline: none;
  margin-top: 7px;
  cursor: pointer;
  color: #9e0220;
  transform: scale(1.5);
}
