@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
}

:global(.slick-slider) {
  margin-inline: -20px;
}

:global(.slick-slide) {
  > div {
    margin-inline: 20px;
  }
}

:global(.slick-next) {
  right: -5px;
}

:global(.slick-prev) {
  left: -5px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 5rem;
}

.homebutton {
  background-color: var(--secondary-color);
  color: #eee;
  font-size: 1rem;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.homebutton:hover {
  background-color: #ffcc00;
  transform: scale(1.1);
}

.homebutton.active {
  background-color: #ffcc00;
  color: var(--primary-color);
  font-weight: bold;
}

.body {
  background-color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.genreButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 20px 0;
}

.genreButton {
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  background-color: #333;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.genreButton:hover {
  background-color: #555;
}

.activeGenre {
  background-color: #007bff;
}