.editcontainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  padding: 20px;
  background-color: #f8f9fa;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 2;
}

.fieldContainer {
  margin-bottom: 15px;
}

.editcontainer button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  background: #12352f;
  color: #ffffff;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}

.editcontainer button:hover {
  background: #051715;
}


.disabledButton {
  opacity: 0.5;
  cursor: not-allowed;
}

.passwordRequirements {
  margin: 15px 0;
  padding: 10px;
  background: #f5f5f5;
  border-radius: 5px;
}

.passwordRequirements ul {
  margin: 5px 0 0 20px;
  padding: 0;
}

.passwordRequirements li {
  list-style-type: none;
  position: relative;
  padding-left: 20px;
}

.passwordRequirements li:before {
  content: "•";
  position: absolute;
  left: 0;
}

.valid {
  color: green;
}

.invalid {
  color: red;
}