  .logo{
    width: 13rem;
    height: 4rem;
  }


  .profile-button
{
  padding: 0;
  border: none;
  background: none;
}

.profile{
  font-size: 35px;
  color:rgb(182, 173, 173);
   width: 84px;
   outline: none;
   margin-top: 14px;
   cursor: pointer;
   transition: 0.5s;
}

.profile:hover{
  color: #7dc470; 
  transform: scale(1.5); 
}

.profile-active {
  font-size: 35px;
  color:rgb(182, 173, 173);
  width: 84px;
  outline: none;
  margin-top: 14px;
  cursor: pointer;
  color: #2cff05;
  transform: scale(1.5);
 }

 .cartnav{
  font-size: 35px;
  color:rgb(182, 173, 173);
   width: 84px;
   outline: none;
   margin-top: 14px;
   cursor: pointer;
   transition: 0.5s;
}

.cartnav:hover{
  color: #7dc470; 
  transform: scale(1.5); 
}

.cartnav-active {
  font-size: 35px;
  color:rgb(182, 173, 173);
  width: 84px;
  outline: none;
  margin-top: 14px;
  cursor: pointer;
  color: #2cff05;
  transform: scale(1.5);
 }

 .wishlistnav{
  font-size: 27px;
  color:rgb(182, 173, 173);
   width: 50px;
   outline: none;
   margin-top: 21.5px;
   cursor: pointer;
   transition: 0.5s;
}

.wishlistnav:hover{
  color: #7dc470;
  transform: scale(1.5);  
}

.wishlistnav-active {
  font-size: 27px;
  color:rgb(182, 173, 173);
  width: 50px;
  outline: none;
  margin-top: 21.5px;
  cursor: pointer;
  color: #2cff05;
  transform: scale(1.5);
 }

.icon-button{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 6px;
  border: none;
  background: none;
}


.icon-buttonbadge{
  position: absolute;
  top: 7px;
  right: 2px;
  width: 20px;
  height: 20px;
  background: red;
  color: white;
  align-items: center;
  border-radius: 50%;
  transition: 0.2s;
}

.icon-buttonbadge:hover{
  transform: scale(1.2);
}