@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

:root{
    --primary-color:#22254b;
    --secondary-color: #373b69;
}

.search{
    height: 3rem;
    width: 20rem;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    padding: 1rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color: #fff;
    font-family: inherit;
}

.search:focus{
    outline: 0;
    background-color: var(--primary-color);
}
.search::placeholder{
    color: #7378c5;
}

